.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 1em 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
