.topContainer {
    display: flex;
    margin: 1.5em 2em;
    width: 100%;
    text-align: center;
}

.exploreCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5em;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}

.filtersContainer {
    width: 100%;
}

.container {
    display: flex;
    padding: 1em;
    align-items: center;
    flex-wrap: wrap;
}

.comicsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (width >= 768px) {
    .topContainer {
        justify-content: center;
    }
    .exploreCardsContainer {
        justify-content: space-between;
    }
}