.container_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 83vh;
}

.input{
    width: 80%;
    padding: 0.5rem 5rem;
    margin: 0.5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px black;
    font-family: ubuntu; 
    background-color:transparent;
} 

.input>option{
    background-color: rgb(215, 207, 207);
}


.button_create {
    font-family: roboto; 
    padding: 1rem 6rem;
    border-radius: 1rem;
    border: none;
    background-color: grey;
    color: white;
    letter-spacing: 0.1rem;
}

.button_create:hover{
    background-color: #4338CA; 
} 

input::placeholder {
    position: absolute;
    left: 1.2rem;
}


