.container {
    display: flex;
    width: 100%;
    background-color: white;
    margin: .8em;
    border-radius: 1em;
    max-width: 400px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .1);
    transition: .2s;
    cursor: pointer;
    text-decoration: none;
    color: black
}

.container:hover {
    scale: 1.02;
    box-shadow: none;
}

.textContainer {
    padding: 1.6em 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: .6rem solid #e0e0e0;
}

.red {
    border-left: .6rem solid #fc736e;
}

.orange {
    border-left: .6rem solid #f98b46;
}

.blue {
    border-left: .6rem solid #3980d1;
}

.green {
    border-left: .6rem solid #00a877;
}

.yellow {
    border-left: .6rem solid #fff0ab;
}

.purple {
    border-left: .6rem solid #7771e0;
}

.imageContainer {
    position:relative;
    display: flex;
    height: 200px;
    max-width: 200px;
    width: 100%;
}

.imageImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 45% 10% 10% 45% / 50% 10% 10% 50% ;
}

.hoverImage {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 0%;
    border-radius: 1rem;
    background-color: transparent;
    transition: .2s ease-in-out;
}

.hoverImage.active {
    width: 250px;
}

.hoverImage img {
    width: 0%;
    height: 0%;
    border-radius: 1.5rem;
}

.hoverImage.active img {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}

.comicCategory {
    font-style: italic;
    font-size: 1rem;
}