.signup-container {
  min-height: 100vh;
  background-image: url('../../../public/signupbg.png');
  display: flex;
}

.image-film-wrap {
  background-color: rgba(0, 0, 0, 0.7);
  width: 50%;
  min-height: 100vh;
  color: white;
}

.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 50%;
  padding: 2em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.title-container h2 {
  color: #1B6FA8;
  letter-spacing: .2rem;
  font-size: 2.2rem;
}

.title-container h3 {
  color: #333;
  font-size: 2.2rem;
}

.title-container p {
  color: #8D8D8D;
  text-align: center;
}

.user-type-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  padding: .8em;
  max-width: 600px;
  border-radius: .6em;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.user-type-container:hover {
  background-color: #f5f5f5;
}

.user-type-text h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
}

.user-type-text p {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.account-exists-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

.label-sign {
  position: relative;
  top: .8rem;
  left: 1rem;
  color: #1B6FA8;
  font-size: .9rem;
  background-color: white;
  padding: 0 .5rem;
}

.signin-link {
  text-decoration: none;
  color: #1B6FA8;
  font-weight: 700;

}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1.1em;
  width: 100%;
  border-radius: .6em;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.form-control:hover {
  border: 1px solid #333;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.submitButton {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1em;
  background-color: #1B6FA8;
  color: white;
  border-radius: .6em;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.submitButton:hover {
  background-color: #000;
}

.back-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: .6em;
}

.sign-form {
  width: 100%;
}

.signup-google {
  width: 100%;
  background-color: white;
  padding: 1em;
  border: 1px solid #ccc;
  margin: 1em 0;
  border-radius: .6em;
  color: rgb(129, 129, 129);
  font-size: .9rem;
  letter-spacing: .05rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-google:hover {
  border: 1px solid #1B6FA8;
  color: #1B6FA8;
}

.signup-google-img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
}

@media screen and (max-width: 768px) {
  .signup-container {
    flex-direction: column;
  }

  .image-film-wrap {
    display:none;
  }

  .container-1 {
    width: 100%;
    height: 100%;
  }
}
