.header {
    background-color: #EBEBEB;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.titleContainer {
    background-color: black;
    margin-top: 68px;
    color: #EBEBEB;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.comicPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imageContainer img {
    object-fit: cover;
    max-height: 600px;
}

.commentContainer {
    background-color: grey;
    display: flex;
    justify-content: center;
    padding: 1em;
    z-index: 100;
}

.leftButton {
    position: absolute;
    top: 68px;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: transparent;
}

.rightButton {
    position: absolute;
    top: 68px;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: transparent;
}

.leftButton:hover {
    background-color: rgba(0, 0, 0, 0.191);
}

.rightButton:hover {
    background-color: rgba(0, 0, 0, 0.191);
}