.header {
    background-color: #ebebeb;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.titleContainer {
    background-color: #4338ca;
    margin-top: 68px;
    color: #ebebeb;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.comicPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageContainer img {
    height: 100%;
    max-width: 100%;
}

.imageContainer {
    margin: 0;
    padding: 0;
}

.commentContainer {
    background-color: grey;
    display: flex;
    justify-content: center;
    padding: 1em;
    z-index: 100;
}

.comicPage {
    position: relative;
}

.leftButton {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: transparent;
    user-select: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.leftButton:hover {
    background-color: rgba(0, 0, 0, 0.079);
}

.rightButton {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: transparent;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rightButton:hover {
    background-color: rgba(0, 0, 0, 0.079);
}

.leftArrow {
    display: none;
    padding-left: 1rem;
    font-size: 10rem;
    color: rgba(0, 0, 0, 0.179);
}

.leftArrow:hover {
    cursor: pointer;
}

.rightArrow {
    display: none;
    padding-right: 1rem;
    text-align: right;
    font-size: 10rem;
    color: rgba(0, 0, 0, 0.179);
}

.rightArrow:hover {
    cursor: pointer;
}

.newCommentBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.commentIcon {
    width: 3em;
}

.commentIcon:hover {
    width: 3.2em;
    transition: all 0.3s ease-in-out;
    transition-duration: 0.3s;
}

.commentNumber {
    font-size: 2rem;
    margin-left: 0.5em;
    color: black;
    text-decoration: none !important;
}

@media (width >= 768px) {
    .leftArrow {
        display: block;
    }

    .rightArrow {
        display: block;
    }
}
