.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-image: url("/public/bkg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.modalClose {
    position: fixed;
    font-size: 1.5rem;
    height: 100%;
    z-index: 99;
    width: 100%;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 600px;
    min-height: 90vh;
    z-index: 100;
    border-radius: 1em;
    background-color: #EBEBEB;
}

.containerComic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid rgba(0, 0, 0, 0.479);
    width: 90%;
}
.dataContain{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 4rem;
    gap: 1rem;
}
.spanName{
    font-weight: 600;
    color: #4338ca;
}
.dataContain p{
    font-size: 1.5rem;
}

.pComic{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.spanDesc{
    color: rgb(92, 92, 92);
    margin-left: 2rem;
}

.formNewChapter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 450px;
}

.inpForm {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: .5em;
    outline: none;
    font-size: 1rem;
}

.divContainerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.divContainerForm p {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.button_create {
    padding: 1em 6em;
    margin-top: 2em;
    border-radius: 3rem;
    border: none;
    background-color: grey;
    color: white;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.button_create:hover {
    background-color: #4338ca;
}