.container {
    background-image: url("../../../public/comicsbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}