.comment-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  margin: 1.5em 0;
  padding: 0 .5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

.comment-user-data {
  display: flex;
  align-items: center;
  padding: 1em;
}

.comment-user-data h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 0 1em;
}

.comment-user-data img {
  width: 60px;
  height: 60px;
  border-radius: 5rem;
}

.comment-text {
  padding: 0 1em 1em 1em;
  font-size: 1.2rem;
  color: #999999;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 1em 1em;

}

.comment-footer-left {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.comment-footer-right {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.comment-footer-right p {
  font-size: .8rem;
  color: rgb(150, 150, 150);
  text-align: end;
}

.comment-reply {
  display: flex;
  align-items: center;
  padding: .5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  cursor: pointer;
  gap: 2rem;
}

.comment-reply img {
  width: 1rem;
  margin-left: 2px;
}

.comment-reply-button {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  color: #0079FF;
  text-decoration: none;
}

.comment-reply:hover {
  background-color: #f2f2f2;
}

.comment-counter {
  display: flex;
  align-items: center;
  gap: .5em;
}

.comment-counter-text {
  font-size: 1.2rem;
  font-weight: 600;
}

.edit-and-delete {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.reply-button {
  width: 5em;
  height: 2em;
  background-color: transparent;
  border-radius: 1em;
  border: 1px solid #ccc;
}

.reply-button2 {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: .4rem;
  width: 4rem;
  height: 2.8rem;
  border-radius: .5em;
  color: white;
  font-size: 1rem;
  color: grey;
  cursor: pointer;
}

.reply-button2:hover {
  background-color: #f2f2f2;
}

.reply-button2:hover:last-child {
  background-color: rgba(234, 9, 9, 0.816);
  color: black;
}

.comment-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
}