.container_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 500px;
    border-top-right-radius:4rem;
    border-top-left-radius:4rem;
    background-color: #ebebeb;
    top: 15rem;
    position: absolute;
    width: 100%;
} 

.container_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../public/mycomicbg.png);
    background-size: cover;
    height: 20rem;
}

.link_new_comic {
    padding: 0.5em 6em;
    border-radius: 6%;
    color: #34d399;
    background-color: #ecfdf5;
    text-decoration: none;
}

.link_new_comic:hover {
    background-color: #34d399;
    color: black;
} 

h1 {
    color: white;
    text-transform: uppercase;
}