.container {
    display: flex;
    justify-content: center;
}

.container_card {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border: none;
    border-radius: 2rem;
    margin: 1rem;
}

.container_img {
    width: 100%;
    max-width: 100px;
}

.container_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}

.title {
    display: none;
    font-weight: 600;
    text-align: center;
}

.container_button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
}

.button {
    padding: 0.5em 1em;
    color: white;
    background-color: #4338ca;
    border-radius: 2rem;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;
}

.button:hover {
    background: #847ce2;
}

.imagen {
    width: 100%;
    max-width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 1.8rem;
}

@media screen and (min-width: 425px) {
    .title {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .button {
        padding: 1em 2em;
    }
}
