.next {
    padding: 0.9em 2.5em;
    margin: 1rem;
    border-radius: 1rem;
    color: white;
    background-color: #4338ca; 
    letter-spacing: 0.1rem;
    border: none;
    cursor: pointer;
}

.prev {
    padding: 0.9em 2.5em;
    margin: 1rem;
    border-radius: 1rem;
    color: white;
    background-color: #4338ca; 
    letter-spacing: 0.1rem;
    border: none;
    cursor: pointer;
}

.prev:hover{
    background-color: #12039a;
    transition: all 0.3s;
}

.next:hover{
    background-color: #12039a;
    transition: all 0.3s;
} 

.button_next{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje {
    text-align: center;
    height: 20vh;
}

